.midblue-bg {
    background-color: $midblue;
}

.darkblue-bg {
    background-color: $darkblue;
}

.lightblue-bg {
    background-color: $lightblue;
}

.offwhite-bg {
    background-color: $offwhite;
}

.offblack-bg {
    background-color: $offblack;
}

.red-bg {
    background-color: $red;
}