.icon-button {
    @extend .round-button;
    background-color: $offwhite;
    color: $offblack;
    svg {
        color: $offblack;
    }
    &:disabled {
        background-color: lighten($offwhite, 10%);
        svg {
            color: darken($offblack, 10%);
        }
    }
    &:hover {
        background-color: $offblack;
        svg {
            color: $offwhite;
        }
    }
}