.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;
    cursor: default;
}

.rectangle-button {
    @extend .button;
    font-family: $header-font-stack;
    text-transform: uppercase;
    padding: 0.75rem 2rem;
    margin: 0 1rem;
    width: 100%;
    border: 0px;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    line-height: 2rem;
    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }
    &:only-child {
        margin: 0;
    }
    span, svg {
        margin: 0 0.75rem;
    }
    &:hover {
        transform: scale(1.05);
    }
    &:disabled {
        transform: none;
    }
}

.round-button {
    @extend .button;
    margin: 1rem;
    font-size: 2em;
    width: 30px;
    height: 30px;
    padding: $pad-y 1rem;
    border-radius: 50%;
}