input {
    border: 0px;
    padding: $pad-y 0.5rem;
    color: $offblack !important;
}

label {
    display: inline-block;
    padding: $pad-y 0;
}

.form {
    display: flex;
    flex-direction: column;
}