body {
    font-family: $body-font-stack;
}

h1, h2, h3, h4, h5, h6, label {
    font-family: $header-font-stack;
    font-weight: 400;
    text-transform: uppercase;
}

.light-text {
    color: $offwhite;
}

.dark-text {
    color: $offblack;
}

.muted-text {
    color: $darkblue;
}

p {
    font-size: 1em;
}