.container {
    margin: 0 $gutter;
}

.button-container {
    display: flex;
    justify-content: space-between;
    padding: $pad-y 0;
}

.icon-button-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}