$offwhite: rgb(251, 252, 252);
$offblack: rgb(27, 38, 49);
$darkblue: rgb(52, 73, 94);
$midblue: rgb(33, 97, 140);
$lightblue: rgb(52, 152, 219);
$red: rgb(236, 79, 63);

$gutter: 30%;
$pad-y: 1rem;

$header-font-stack: 'Gravitas One', sans-serif;