.highlight-button {
    @extend .rectangle-button;
    background-color: $red;
    color: $offwhite;
    &:disabled, &:hover {
        background-color: lighten($red, 10%);
        color: darken($offwhite, 10%);
    }
}