.standard-button {
    @extend .rectangle-button;
    background-color: $offblack;
    color: $offwhite;
    &:disabled {
        background-color: lighten($offblack, 10%);
        color: darken($offwhite, 10%);
    }
}