@import url(../../../node_modules/normalize.css/normalize.css);
body {
  background-color: #21618c;
  color: #fbfcfc; }

.button, .rectangle-button, .standard-button, .highlight-button, .round-button, .icon-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out; }

.rectangle-button, .standard-button, .highlight-button {
  padding: 0.75rem 2rem;
  margin: 0 1rem;
  width: 100%;
  border: 0px;
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  line-height: 2rem; }
  .rectangle-button:first-child, .standard-button:first-child, .highlight-button:first-child {
    margin-left: 0; }
  .rectangle-button:last-child, .standard-button:last-child, .highlight-button:last-child {
    margin-right: 0; }
  .rectangle-button:only-child, .standard-button:only-child, .highlight-button:only-child {
    margin: 0; }
  .rectangle-button span, .standard-button span, .highlight-button span, .rectangle-button svg, .standard-button svg, .highlight-button svg {
    margin: 0 0.75rem; }

.round-button, .icon-button {
  font-size: 2em;
  width: 30px;
  height: 30px;
  padding: 1rem 1rem;
  border-radius: 50%; }

p {
  font-size: 1em; }

.textbox {
  margin: 0.5rem 1rem;
  padding: 1.5rem;
  text-align: center; }

.bracketbox {
  margin: 0;
  padding: 1rem 0;
  display: flex;
  flex-direction: column; }

.matchbox {
  border-bottom: 1px #fbfcfc solid; }
  .matchbox:last-of-type {
    border-bottom: none; }

.playerbox {
  margin: 1rem 0;
  padding: 1rem 1rem; }
  .playerbox p {
    margin: 0; }

.container {
  margin: 0 30%; }

.button-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0; }

input {
  border: 0px; }
  input[type=text] {
    padding: 1rem 0.5rem; }

label {
  display: inline-block;
  padding: 1rem 0; }

.form {
  display: flex;
  flex-direction: column; }

.light-text {
  color: #fbfcfc; }

.dark-text {
  color: #1b2631; }

.muted-text {
  color: #34495e; }

.midblue-bg {
  background-color: #21618c; }

.darkblue-bg {
  background-color: #34495e; }

.lightblue-bg {
  background-color: #3498db; }

.offwhite-bg {
  background-color: #fbfcfc; }

.offblack-bg {
  background-color: #1b2631; }

.red-bg {
  background-color: #ec4f3f; }

.standard-button {
  background-color: #fbfcfc;
  color: #1b2631; }
  .standard-button:disabled {
    background-color: #dee6e6;
    color: #2d4052; }

.highlight-button {
  background-color: #ec4f3f;
  color: #fbfcfc; }
  .highlight-button:disabled {
    background-color: #f17a6d;
    color: #dee6e6; }

.icon-button {
  background-color: #fbfcfc;
  color: #1b2631; }
  .icon-button svg {
    color: #1b2631; }
  .icon-button:disabled {
    background-color: white; }
    .icon-button:disabled svg {
      color: #090d10; }
  .icon-button:hover {
    background-color: #ec4f3f; }
    .icon-button:hover svg {
      color: #fbfcfc; }
