@import url(../../../node_modules/normalize.css/normalize.css);
body {
  background-color: #21618c;
  color: #fbfcfc; }

.button, .highlight-button, .standard-button {
  display: inline-block;
  box-sizing: border-box;
  padding: 1rem 2rem;
  margin: 1rem;
  border: 0px;
  font-size: 1em;
  text-decoration: none;
  text-align: center; }

.round-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  width: 30px;
  height: 30px;
  padding: 1rem;
  border-radius: 50%;
  background-color: #ec4f3f; }

p {
  font-size: 1em; }

.textbox {
  margin: 0.5rem 1rem;
  padding: 1.5rem;
  text-align: center; }

.bracketbox {
  margin: 2rem 0;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column; }

.matchbox {
  border-bottom: 1px #fbfcfc solid; }
  .matchbox:last-of-type {
    border-bottom: none; }

.playerbox {
  margin: 1rem 0;
  padding: 0.5rem 1rem; }
  .playerbox p {
    margin: 0; }

.container {
  margin: 0 30%; }

.button-container {
  display: flex;
  justify-content: space-between; }

label {
  display: inline-block; }

input[type=text] {
  display: inline-block;
  padding: 0.75rem 2rem; }

.light-text {
  color: #fbfcfc; }

.dark-text {
  color: #1b2631; }

.muted-text {
  color: #34495e; }

.midblue-bg {
  background-color: #21618c; }

.darkblue-bg {
  background-color: #34495e; }

.lightblue-bg {
  background-color: #3498db; }

.offwhite-bg {
  background-color: #fbfcfc; }

.offblack-bg {
  background-color: #1b2631; }

.red-bg {
  background-color: #ec4f3f; }

.highlight-button {
  background-color: #ec4f3f;
  color: #fbfcfc; }

.standard-button {
  background-color: #fbfcfc;
  color: #1b2631; }
