@import url(../../../node_modules/normalize.css/normalize.css);
@import url("https://fonts.googleapis.com/css?family=Audiowide");
.main-content {
  grid-area: 2 / 2 / 3 / 5; }
  @media only screen and (min-width: 768px) {
    .main-content {
      grid-area: 2 / 3 / 3 / 4; } }

.sidebar-1 {
  grid-area: 3 / 3 / 4 / 4; }
  @media only screen and (min-width: 768px) {
    .sidebar-1 {
      grid-area: 2 / 2 / 3 / 3; } }

.sidebar-2 {
  grid-area: 2 / 4 / 3 / 5; }
  @media only screen and (min-width: 768px) {
    .sidebar-2 {
      grid-area: 2 / 2 / 3 / 3; } }

.header {
  grid-area: 1 / 1 / 2 / 6; }

.footer {
  grid-area: 3 / 1 / 4 / 6; }

.ubercontainer {
  display: grid;
  grid-template-columns: 10% 15% auto 15% 10%;
  grid-template-rows: 30vh auto auto; }
  @media only screen and (min-width: 768px) {
    .ubercontainer {
      grid-template-columns: 15% 15% auto 15% 15%;
      grid-template-rows: 30vh auto auto auto; } }

body {
  background-color: #21618c;
  color: #fbfcfc; }

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6, label {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  text-transform: uppercase; }

.light-text {
  color: #fbfcfc; }

.dark-text {
  color: #1b2631; }

.muted-text {
  color: #34495e; }

p {
  font-size: 1em; }

.bracketbox {
  margin: 0;
  padding: 1rem 0;
  display: flex;
  flex-direction: column; }

.playerbox {
  margin: 0.5rem 0; }
  .playerbox p {
    margin: 0; }
  .playerbox:first-child {
    margin-top: 0; }
  .playerbox:last-child {
    margin-bottom: 0; }

.playerbox--head, .player--head {
  padding: 1rem 1rem; }

.playerbox--info, .player--info {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1rem;
  margin-bottom: 1rem; }
  .playerbox--info input, .player--info input {
    width: 2rem; }

.player--head {
  background-color: #3498db;
  color: #1b2631; }

.player--info {
  background-color: #34495e; }

.player--winner {
  background-color: #fbfcfc; }

.player--loser {
  opacity: 0.33; }
